<div class="container">
    <div class="header-top">
        <div class="logo">
            <a href="ostravskypinec/index.html"><img src="/assets/images/logo.png" alt="Ostravský pinec logo"></a>
            <div>
                <h1><a href="/index.html">MěSST Ostrava</a></h1>
            </div>
        </div>
        <nav class="nav">
            <a href="/index.html" class="nav-item">Domů</a>
            <a href="/pages/turnaje.html" class="nav-item">Turnaje</a>
            <a href="https://stis.ping-pong.cz/oblast/svaz-420807" class="nav-item" target="_blank"
                rel="noopener">Soutěže</a>
            <a href="/pages/foto.html" class="nav-item">Foto</a>
            <a href="/pages/zpravodaje.html" class="nav-item">Zpravodaje</a>
            <a href="/pages/svaz.html" class="nav-item">Svaz</a>
        </nav>
    </div>
</div>