<div class="content-secondary">
    <div class="sidebar-block">
        <h3>Nejbližší akce</h3>
        <iframe
            class="sidebar-calendar-frame"
            title="Kalendář nejbližších akcí"
            src="https://calendar.google.com/calendar/embed?src=668ce02ac4042f9361bdba10e2ccfa8246289de831915fb3348282174a5513bd%40group.calendar.google.com&ctz=Europe%2FPrague&mode=AGENDA&showTitle=0&showNav=0&showDate=0&showPrint=0&showTabs=0&showCalendars=0&showTz=0"
            width="310" height="400" frameborder="0" scrolling="no"></iframe>
        <ul class="sidebar-list">
        </ul>
    </div>

    <div class="sidebar-block">
        <h3>Představenstvo</h3>
        <ul class="sidebar-list">
            <li>
                <p><strong>Předseda</strong></p>
                <p>Marián Hájko</p>
                <p><a href="tel:+420 606 774 322">+420 606 774 322</a></p>
                <p><a href="mailto:mhajko@centrum.cz">mhajko@centrum.cz</a></p>
            </li>
            <li>
                <p><strong>Místopředseda</strong></p>
                <p>Miroslav Henžel</p>
                <p><a href="tel: +420 724 049 092">+420 724 049 092</a></p>
                <p><a href="mailto:henzel.miroslav@seznam.cz">henzel.miroslav@seznam.cz</a></p>
            </li>
            <li>
                <p><strong>Předseda revizní komise</strong></p>
                <p>Radomír Vavrečka</p>
                <p><a href="tel: +420 605 268 096">+420 605 268 096</a></p>
                <p><a href="mailto:vavrecka@landrax.cz">vavrecka@landrax.cz</a></p>
            </li>
        </ul>
    </div>

    <div class="sidebar-block">
        <div class="sidebar-list">
            <h3>Oddíly</h3>
            <p><a href="https://stis.ping-pong.cz/oddil-420807012" target="_blank" rel="noopener">01. TJ Ostrava</a></p>
            <p><a href="https://stis.ping-pong.cz/oddil-420807031" target="_blank" rel="noopener">01. SK SVINOV</a></p>
            <p><a href="https://stis.ping-pong.cz/oddil-420807036" target="_blank" rel="noopener">01. TTC
                    Ostrava-Poruba</a></p>
            <p><a href="https://stis.ping-pong.cz/oddil-420807038" target="_blank" rel="noopener">02. TJ Sokol Horní
                    Lhota</a></p>
            <p><a href="https://stis.ping-pong.cz/oddil-420807017" target="_blank" rel="noopener">03. TJ Sokol
                    Hrabůvka</a></p>
            <p><a href="https://stis.ping-pong.cz/oddil-420804018" target="_blank" rel="noopener">04. TJ Sokol
                    Klimkovice</a></p>
            <p><a href="https://stis.ping-pong.cz/oddil-420807006" target="_blank" rel="noopener">05. TJ Sokol Krásné
                    Pole</a></p>
            <p><a href="https://stis.ping-pong.cz/oddil-420807033" target="_blank" rel="noopener">06. TJ Sokol Ostrava -
                    Výškovice</a></p>
            <p><a href="https://stis.ping-pong.cz/oddil-420807044" target="_blank" rel="noopener">06. MH stolní tenis
                    Ostrava</a></p>
            <p><a href="https://stis.ping-pong.cz/oddil-420807019" target="_blank" rel="noopener">07. TJ Sokol
                    Radvanice-Bartovice</a></p>
            <p><a href="https://stis.ping-pong.cz/oddil-420802019" target="_blank" rel="noopener">08. TTC MG ODRA
                    Vratimov</a></p>
            <p><a href="https://stis.ping-pong.cz/oddil-420807041" target="_blank" rel="noopener">09. TTC Ostrava</a>
            </p>
            <p><a href="https://stis.ping-pong.cz/oddil-420807046" target="_blank" rel="noopener">10. TTC Petřkovice</a>
            </p>
            <p><a href="https://stis.ping-pong.cz/oddil-420807037" target="_blank" rel="noopener">11. SK Vřesina LT</a>
            </p>
            <p><a href="https://stis.ping-pong.cz/oddil-420807045" target="_blank" rel="noopener">12. KPŠ při SPŠ
                    Zengrova</a></p>
            <p><a href="https://stis.ping-pong.cz/oddil-420807034" target="_blank" rel="noopener">13. SSVČ Don Bosco</a>
            </p>
            <p><a href="https://stis.ping-pong.cz/oddil-420807040" target="_blank" rel="noopener">13. Orel jednota
                    Ostrava - Třebovice</a></p>
            <p><a href="https://stis.ping-pong.cz/oddil-420807002" target="_blank" rel="noopener">14. Orel jednota
                    Ostrava - Stará Bělá</a></p>
            <p><a href="https://stis.ping-pong.cz/oddil-420807032" target="_blank" rel="noopener">15. Ostrava Zábřeh</a>
            </p>
            <p><a href="https://stis.ping-pong.cz/oddil-420807026" target="_blank" rel="noopener">16. VSK VŠB-TU
                    Ostrava</a></p>
            <p><a href="https://stis.ping-pong.cz/oddil-420807047" target="_blank" rel="noopener">xx. SK vozíčkářů
                    Ostrava</a></p>
            <p><a href="https://stis.ping-pong.cz/oddil-420807043" target="_blank" rel="noopener">xx. Akademie ST Petra
                    Korbela</a></p>
            <br>
            <iframe class="sidebar-map-frame" title="Mapa oddílů stolního tenisu Ostrava" src="https://mapy.com/s/bebavuderu" width="310" height="280" frameborder="0"></iframe>
            <p><a href="https://mapy.com/s/jenofuzobu" target="_blank" rel="noopener">Mapa zápasových heren</a></p>
        </div>
    </div>
</div>