<div class="content-secondary">
    <div class="sidebar-block">
        <h3>Nejbližší akce</h3>
        <iframe
            class="sidebar-calendar-frame"
            title="Kalendář nejbližších akcí"
            src="https://calendar.google.com/calendar/embed?src=668ce02ac4042f9361bdba10e2ccfa8246289de831915fb3348282174a5513bd%40group.calendar.google.com&ctz=Europe%2FPrague&mode=AGENDA&showTitle=0&showNav=0&showDate=0&showPrint=0&showTabs=0&showCalendars=0&showTz=0"
            width="310" height="400" frameborder="0" scrolling="no"></iframe>
        <ul class="sidebar-list">
        </ul>
    </div>

    <div class="sidebar-block">
        <h3>Představenstvo</h3>
        <ul class="sidebar-list">
            <li>
                <p><strong>Předseda</strong></p>
                <p>Marián Hájko</p>
                <p><a href="tel:+420 606 774 322">+420 606 774 322</a></p>
                <p><a href="mailto:mhajko@centrum.cz">mhajko@centrum.cz</a></p>
            </li>
            <li>
                <p><strong>Místopředseda</strong></p>
                <p>Miroslav Henžel</p>
                <p><a href="tel: +420 724 049 092">+420 724 049 092</a></p>
                <p><a href="mailto:henzel.miroslav@seznam.cz">henzel.miroslav@seznam.cz</a></p>
            </li>
            <li>
                <p><strong>Předseda revizní komise</strong></p>
                <p>Radomír Vavrečka</p>
                <p><a href="tel: +420 605 268 096">+420 605 268 096</a></p>
                <p><a href="mailto:vavrecka@landrax.cz">vavrecka@landrax.cz</a></p>
            </li>
        </ul>
    </div>

    
</div>