<section id="sponzori">
    <h2 class="section-title">Naši sponzoři</h2>
    <div class="sponsors-grid">
        <a class="sponsor-logo" href="https://www.ostrava.cz/" target="_blank" rel="noopener">
            <img src="/assets/images/Ostrava_lg.jpg" alt="Sponzor 1">
        </a>
        <a class="sponsor-logo" href="https://www.pincesobchod.cz/" target="_blank" rel="noopener">
            <img src="assets/images/desaka.png" alt="Sponzor 2">
        </a>
        <a class="sponsor-logo" href="https://eshop.pingpongsport.cz" target="_blank" rel="noopener">
            <img src="assets/images/pingpongsport.jpg" alt="Sponzor 3">
        </a>
    </div>
</section>